<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/every_list"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/every_list_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnDevMarketList"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MapaActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAPEe2AAdNN-vWHVn4ViZljceLa3_nkDmw" />

        <activity
            android:name=".histActivity"
            android:exported="false" />
        <activity
            android:name=".ListaPersistenciaActivity"
            android:exported="false" />
        <activity
            android:name=".VerListaActivity"
            android:exported="false" />
        <activity
            android:name=".HistorialActivity"
            android:exported="false" />
        <activity
            android:name=".NotificacionesActivity"
            android:exported="false" />
        <activity
            android:name=".activity_Calendario"
            android:exported="false" />
        <activity
            android:name=".pantalla_menu"
            android:exported="false" />
        <activity
            android:name=".Usuario1Activity"
            android:exported="false" />
        <activity
            android:name=".PantallaListasActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>